__pycache__/
*.py[cod]
backend/__pycache__/
tests/__pycache__/
tests/.tmp/
tests/.tmp_storage/
tests/.tmp_sync/

.pytest_cache/
.coverage

pixiv_config.json
pixiv.net_cookies.txt

data/*
!data/.gitkeep

screenshot/*
!screenshot/.gitkeep

*.lnk
